body {
  max-width: 500px;
  margin: auto;
  padding: 0;
  font-family: -apple-system, "Segoe UI", sans-serif;
  font-size: small;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#cow {
  width: auto;
  margin: auto;
}

pre {
  white-space: pre-wrap;
}

blockquote footer {
  text-align: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
}
